<!--<%= link_to 'book a table', 'https://www.facebook.com/LarkinsBar/', class: 'booking-hero-side-button' %>
<%= link_to '', 'https://www.facebook.com/LarkinsBar/', class: 'facebook-hero-side-button', target: '_blank', rel: 'noopener' %> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

<!--<div class="slide-down">What a deal!</div>
<span class="click-me">Grab This Deal</span> -->
<div class="navigation-upper-wrapper">
  <div class="nav-upper-postcode address-icon">
    HU5 3AE
  </div>
  <div class="nav-upper-telephone telephone-icon">
    <%= link_to '01482 44099122', 'tel:01482440991' %>
  </div>
</div>

<header class="primary-header">
  <div class="primary-header-wrapper">
    <div class="logo-wrapper">
      <%= link_to (image_tag 'shared/header/larkins-logo.svg', alt: 'Larkins Logo', width: 300, height: 70), root_url %>

    </div>
    <button class="hamburger hamburger--squeeze js-hamburger slide-toggle" type="button" data-container=".primary-navigation-wrap">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="primary-nav-wrapper">
      <nav class="primary-navigation-wrap">
        <ul class="primary-navigation">
      <!--    <% if current_page?(root_url) %>
          <%= link_to 'About', '#anchor' , title: 'About', class: 'smooth-scroll' %>
        <% else %>
          <%= link_to 'About', 'http://demo.larkinsbar.co.uk/#anchor' , class:'smooth-scroll' %>
          <% end %> -->

          <li>
            <%= link_to 'Home', root_url, title: 'Home' %>
          </li>
          <li>
<%= link_to 'About', root_url(anchor: 'anchor'), title:'About', class:'smooth-scroll' %>

          </li>
          <li>
            <%= link_to 'Beers', '#beer' , title: 'Beers', class:'smooth-scroll' %>
          </li>
          <li>
            <%= link_to 'Booking', '#booking' , title: 'Booking', class:'smooth-scroll' %>
          </li>
          <li>
            <%= link_to 'Menu', '#menu' , title: 'Menu', class:'smooth-scroll' %>
          </li>
          <li>
            <%= link_to 'Whats on', '#events' , title: 'Whats on', class:'smooth-scroll' %>
          </li>
          <li>
            <%= link_to 'Contact', '#contact' , title: 'Contact', class:'smooth-scroll' %>
          </li>
        </ul>
        <ul class="primary-navigation-social-icons">
          <li>
            <%= link_to (image_tag 'shared/header/facebook-icon.svg', class: 'nav-social-media', alt: 'Facebook'), 'https://www.facebook.com/LarkinsBar/', target: '_blank', rel:'noopener noreferrer' %>
            <%= link_to (image_tag 'shared/header/twitter-icon.svg', class: 'nav-social-media', alt: 'Twitter'), 'https://twitter.com/larkinsbar', target: '_blank', rel:'noopener noreferrer' %>
            <%= link_to (image_tag 'shared/header/tripadvisor-icon.svg', class: 'nav-social-media', alt: 'Tripadvisor'),
            'https://www.tripadvisor.co.uk/Restaurant_Review-g186317-d2264451-Reviews-Larkin_s_Bar-Kingston_upon_Hull_East_Riding_of_Yorkshire_England.html', target: '_blank', rel:'noopener noreferrer' %>
            <%= link_to (image_tag 'shared/header/instagram-icon.svg', class: 'nav-social-media', alt: 'Instagram'), 'https://www.instagram.com/larkins_bar_hull/', target: '_blank', rel:'noopener noreferrer' %>

          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
