<%= render partial: 'layouts/shared/hero', locals: { text: '<h1 class="hero-tagline hero-standard-text"> taste our <span class="decorated-text">hearty</span> menu at</br> larkins bar & restaurant </h1>', button_text_1: 'View Main Menu', button_link_1:
'/main-menu', additional_classes: 'lunch-menu-hero-image' } %>
<!--<div class="main-content-blocks menu-beer-content">
    <div class="favourites-container">
      <h2 class="find-favourites-title">FIND YOUR FAVOURITES:</h2>
    </div>
    <div class="favourites-items">
      <ul class="favourites-content">

        <li> <%= link_to (image_tag 'lunch-menu/sandwich-icon.png'), '#anchor', class:'favourites-icon smooth-scroll' %> <div class="favourite-title">Sandwiches</div></li>
        <li> <%= link_to (image_tag 'lunch-menu/omelette-icon.png'), '#anchor', class:'favourites-icon smooth-scroll' %> <div class="favourite-title">Omelette</div></li>
        <li> <%= link_to (image_tag 'lunch-menu/pasta-icon.png'), '#anchor', class:'favourites-icon smooth-scroll' %> <div class="favourite-title">Pasta</div></li>
        <li> <%= link_to (image_tag 'lunch-menu/risotto-icon.png'), '#anchor', class:'favourites-icon smooth-scroll' %><div class="favourite-title">Risotto</div> </li>

      </ul>
    </div>
  </div>-->




<div class="main-content-blocks menu-beer-content">
  <div class="lunch-menu-title-wrapper">
    <div class="lunch-menu-title-container">
      <div class="beer-menu-title-wrapper">
        <div class="beer-opacity-title">
          Lunch Menu
        </div>
        <div class="content-block-sub-title beers-title">
          discover
        </div>
        <h2 class="content-block-title beers-title">
          Larkin's Lunch Menu
        </h2>
<div class="menu-item-title-intro"> All sandwiches are served in white or wholemeal bread, with fries and slaw. </div>
      </div>
    </div>
  </div>
  <div class="lunch-menu-wrapper">
    <div class="lunch-full-menu-content-block">
      <div class="beer-menu-title-wrapper">

        <h2 class="sub-content-block-title sides">
          Toasted Sandwiches
        </h2>

      </div>

      <%= raw @toasted_sandwiches.content %>
    </div>

    <div class="lunch-full-menu-content-block">
      <div class="coloured-block">

        <div class="beer-menu-title-wrapper">

          <h2 class="sub-content-block-title">
            Sandwiches
          </h2>
        </div>
        <%= raw @sandwiches.content %>
      </div>
    </div>
  </div>
</div>
<div class="second-image-wrapper">
  <div class="hero-tagline">
    <div class="hero-tagline-wrapper">
      <div class="dine-title">
        enjoy lunch at
      </div>
      <h2 class="larkins-menu-title" data-animation-type="fadeInDown">larkin's restaurant</h2>
    </div>
  </div>
</div>
<div class="main-content-blocks menu-beer-content">
  <div class="lunch-full-menu-content-block">
    <div class="lunch-menu-intro-wrapper">
      <h2 class="sub-content-block-title sides">
        Lunch Favourites
      </h2>
    </div>
    <%= raw @lunch_favourites.content %>
  </div>

  <div class="lunch-full-menu-content-block">
    <div class="coloured-block">
      <div class="beer-menu-title-wrapper">
        <h2 class="sub-content-block-title">
          Omelettes
        </h2>
        <div class="menu-item-intro lunch-menu">
          3 egg omelettes, all served with fries, salad garnish & slaw.</div>
      </div>
      <%= raw @omelettes.content %>
    </div>
  </div>
</div>

<div class="second-image-wrapper">
<div class="hero-tagline">
  <div class="hero-tagline-wrapper">
    <div class="larkins-banner-title ">AVAILABLE 12PM - 4PM /  MONDAY TO SATURDAY</div>
    <div class="larkins-coffe-sub-title">ONLY £3.95 I 2PM - 4PM</div>
  </div>
</div>
</div>

<div class="main-content-blocks menu-beer-content">

    <div class="lunch-full-menu-content-block">
      <div class="coloured-block">
        <div class="lunch-special-wrapper-content">
      <div class="lunch-special-title">
        Lunch Special & Drink - £6.50
      </div>
      <div class="menu-item-intro lunch-menu">MONDAY - FRIDAY (Includes coffee, tea or soft drink) - Terms apply</div>
    </div>
      <div class="lunch-special-menu-item">
        Cheese & Tomato Toastie
      </div>
      <div class="lunch-special-description">
        Served with slaw & fries
      </div>
      <div class="lunch-special-menu-item">
        Ham & Cheese Toastie
      </div>
      <div class="lunch-special-description">
        Served with slaw & fries
      </div>
      <div class="lunch-special-menu-item">
        Pasta Pomodoro
      </div>
      <div class="lunch-special-description">
        Penne pasta in tomato napoli, topped with parmesan
      </div>
    </div>
  </div>
    <div class="lunch-full-menu-content-block">
      <div class="beer-menu-title-wrapper">
        <h2 class="sub-content-block-title sides">
          Pasta & Risotto
        </h2>
      </div>
      <%= raw @pasta_and_risotto.content %>

  </div>
</div>
