<!DOCTYPE html>
<html>
  <head>
    <title>Larkins Bar</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Abril+Fatface|Lato|Alex+Brush|Montserrat:400,600', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/shared/header' %>
    <%= yield %>
  </body>
  <%= render 'layouts/shared/footer' %>
</html>
